

.button-add-post, .button-cancel, .button-main {
    width: 143px;
    height: 56px;
    border-radius: 2px;
    border: 0;
    background-color: #2231AA;
    cursor: pointer;

    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: white;
}

.button-cancel {
    width: 125px;
    background-color: #E8E8E8;
    color: #313037;
}

.button-main {
    margin-top: 48px;
    width: 544px;
}

.button-back-home, .button-forgot-password {
    border: 0;
    background-color: #F3F3F3;
    cursor: pointer;
    margin-top: 72px;
    padding: 0;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #313037;
}

.button-forgot-password {
    margin-top: 16px;
    width: 544px;
    text-align: left;
    
}