.textarea {
    width: 1118px;
    height: 245px;
    border: 0;
    border-radius: 2px;
    resize: none;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.textarea:focus {
    outline-color: rgb(202, 202, 202);
}

.textarea:active {
    outline: none;
}

.textarea-name {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
}