.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2231AA;
    height: 84px;
}

.header-items-right {
    display: flex;
}

.header-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;
}

.header-items-right > .header-item {
    border-left: 1px solid #5360CD;
}

.header-items-left > .header-item {
    border-right: 1px solid #5360CD;
}