.list-of-posts-grid-container {
    width: 1120px;
    margin: 0 auto;
    display: grid;
    grid-gap: 31px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
}

.list-of-posts-elem_big {
    grid-column: 1/3;
    grid-row: 1/3;
}

.list-of-posts-elem_medium-1 {
    grid-column: 1/2;
    grid-row: 3/5;
}

.list-of-posts-elem_medium-2 {
    grid-column: 2/3;
    grid-row: 3/5;
}

.list-of-posts-elem_medium-3 {
    grid-column: 1/2;
    grid-row: 5/7;
}

.list-of-posts-elem_medium-4 {
    grid-column: 2/3;
    grid-row: 5/7;
}

.list-of-posts-elem_little-1 {
    grid-column: 3/4;
    grid-row: 1/2;
}

